"*":
  editor:
    showIndentGuide: true
    invisibles: {}
    fontFamily: "Ricty Diminished"
    softTabs: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    preferredLineLength: 120
  core:
    themes: [
      "atom-dark-ui"
      "no-caffeine-syntax"
    ]
  "exception-reporting":
    userId: "3232268a-ee49-9367-ad77-e430f68dc60c"
  welcome:
    showOnStartup: false
  metrics:
    userId: "9eb92f7d9ab2e4283370e97abfb33e54cd3ce687"
  "highlight-line":
    hideHighlightOnSelect: true
  "atom-color-highlight": {}
  "recent-files":
    updated: false
  emmet: {}
  "atom-beautify":
    _analyticsUserId: "2643a4a0-a113-42fe-aac2-6d160c9df1b6"
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  rspec:
    command: "bundle exec rspec"
  "vim-mode": {}
  linter: {}
  "linter-rubocop":
    executablePath: "/Users/Nori/.rbenv/shims/rubocop"
  "linter-ruby":
    rubyExecutablePath: "/Users/Nori/.rbenv/shims/ruby"
  "linter-erb":
    erbExecutablePath: "/Users/Nori/.rbenv/shims/erb"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-csslint": {}
  "linter-jsonlint": {}
